<html>
	<head>
		<title>
		Super Chat
		</title>
		<style>
			*{box-sizing: border-box;}
			body{width:99%; height:99%; overflow: hidden; position: relative; margin: 0; display: block;
			    font-family: "NotoSansJP", "NotoSansKR", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "Yu Gothic", "맑은 고딕", "Segoe UI", "Roboto", "system-ui", "sans-serif";}
			#main {height: 100%; opacity: 1;}
			.jZTsfp{position:relative;height:100%;overflow-y:auto;background-color:#f6f6f7}
			.iwYaXG{position:fixed;top:0;left:0;right:0;margin:0 auto;width:100%}
			.doVYTX{position:absolute;top:0;left:0;right:0;height:240px;background:linear-gradient(130deg,#7b7bfd 0,#7b7bfd 50%,#e6abff) 100% center;transform:translateZ(0)}
            .doVYTX::before{content:"";display:block;position:absolute;left:0;right:0;bottom:0;height:100px;background:linear-gradient(rgba(255,255,255,0) 0,#f6f6f7 100%)}
			.bvPbsQ{padding:23px 22px 16px 24px;position:relative}
			.kmKrhz{max-width:210px;font-size:20px;font-weight:700;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
			.fZIprm{width:100%;margin-top:10px;position:relative;display:flex;-webkit-box-align:center;align-items:center}
			.hNeMZS{max-width:190px}
			.cIBCGp{height:22px;display:flex;-webkit-box-align:center;align-items:center;font-size:13px;font-weight:700;color:#fff;margin-bottom:4px}
			.gymLwy{width:auto;height:auto;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;visibility:visible;cursor:auto}
			.gymLwy::before{content:"";display:block;width:22px;height:22px;background-image:url(https://cdn.channel.io/plugin/images/offhours-white.png);background-size:cover;opacity:1}
			.eHyyog{line-height:16px;display:flex;font-size:12px;opacity:.7;color:#fff;margin-top:2px}
			.itWuHH{line-height:16px;display:flex;font-size:12px;opacity:.7;color:#fff;margin-top:2px;cursor:pointer}
			.hxfEKc{width:auto;height:auto;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;cursor:pointer;visibility:visible;margin-left:5px}
            .hxfEKc::before{content:"";display:block;width:14px;height:14px;background-image:url(https://cdn.channel.io/plugin/images/clock-white.png);background-size:cover;opacity:.6} 
            .hkNqfb{position:relative;margin-left:auto;flex-shrink:0;height:50px}     
			.kLapJO:nth-child(1){right:0;bottom:0}
			.kLapJO{width:50px;height:50px;border-radius:50%;background-image:url(https://cdn.channel.io/plugin/images/moon.png);background-size:cover;background-position:center center;background-color:#f08c00;box-shadow:rgba(0,0,0,.12) 0 2px 6px 0;position:absolute;opacity:.01;animation:.3s cubic-bezier(.5,0,.08,1) 120ms 1 normal forwards running bmANdA}
            .kLapJO::after{content:"";position:absolute;right:1.82233px;bottom:1.82233px;display:none;border-radius:50%;width:9px;height:9px;background-color:#00bb35;border:1px solid #fff}
			@keyframes bmANdA{0%{transform:scale(.5,.5);opacity:.01}100%{transform:scale(1,1);opacity:1}}
			.fiwphP{position:relative;margin-top:140px;margin-bottom:40px;padding:0 8px}
			.ebSFPd{width:100%;display:inline-flex;flex-direction:column;overflow:hidden;background-color:#fff;border-radius:10px;box-shadow:rgba(0,0,0,.08) 0 4px 12px 0,rgba(0,0,0,.01) 0 0 0 1px;padding-bottom:14px}
            .bofHaN{display:flex;-webkit-box-pack:justify;justify-content:space-between;-webkit-box-align:center;align-items:center;color:#242428;padding:10px 14px 4px 16px;font-size:12px}
			.iQudpT{color:#a7a7aa;font-size:inherit;font-weight:600;margin:0;padding:0}
			.iQudpT h1{display:block;margin-block-start:.67em;margin-block-end:.67em;margin-inline-start:0;margin-inline-end:0}
			.dZRmoU{display:flex;-webkit-box-align:center;align-items:center;cursor:pointer}
			.bNmoP{width:auto;height:auto;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;cursor:pointer;visibility:visible;margin-right:3px}
			.bNmoP::before{content:"";display:block;width:12px;height:12px;background-image:url(https://cdn.channel.io/plugin/images/new-chat-black.png);background-size:cover;opacity:1}
			.dRmqLO{height:140px;display:flex;cursor:pointer;transition:background-color .2s ease 0s}
			.dwjdEl{width:62px;padding:13px 0 0 16px}
			.fVPpRn{position:relative;width:34px;height:34px;border-radius:50%;background-image:url("./sgjg.png");
			background-size:cover;background-position:center center;background-color:#fff;box-shadow:none}
			.fVPpRn::after{content:"";position:absolute;right:-.520815px;bottom:-.520815px;display:none;border-radius:50%;width:9px;height:9px;background-color:#00bb35;border:1px solid #fff}
			.dSrTQM{-webkit-box-flex:1;flex:1 1 0px;min-width:180px;padding:12px 8px 12px 0;font-size:13px;color:#242428}
			.jEjoEK{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight:600}
			.befTZN{margin-top:4px;height:72px;overflow:visible;line-height:18px;color:inherit;
				display:flex; flex-direction: row;}
			
			.gPinHX{width:100%;display:flex;-webkit-box-pack:center;justify-content:center}
			.chHnhn{margin:12px 0 10px;padding:0 12px;height:22px;line-height:22px;color:#a7a7aa;font-size:11px;cursor:pointer;background-color:#f0f0f1;border-radius:11px}
            .dGzApz{margin-top:10px;width:100%;height:70px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center}
			.eFZEoU:not(:first-child){margin-left:8px} 
			.eFZEoU{cursor:pointer;display:block} 
			.iciXNI{position:relative;width:40px;height:40px;border-radius:50%;background-size:cover;background-position:center center;box-shadow:none;background-color:rgba(0,0,0,.05);background-image:url(https://cdn.channel.io/plugin/images/integration-phone.png);transition:transform .1s ease-out 0s}
            

			form .chatstartinput{border:1px solid #ccc;border-radius:10px;width:120px;padding:20px;margin:20px}
			form .chatstartinput:hover{border:1px solid #7b7bfd}

				form .btnchatstart{background-color:#eaeaea;padding:8px;margin:15px;margin-bottom:0;font-size:85%;border-radius:10px;transition:background-color .5s}
				form .btnchatstart:hover{background-color:#7b7bfd;color:#fff;font-weight:700}
		</style>
		
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	
	</head>
	
	<body style="background-color: rgb(246, 246, 247);">
		<div id="main">
            <div data-ch-testid="lounge" class="Loungestyled jZTsfp">
				<div class="FullHeaderstyled__Wrapper iwYaXG">
					<div class="FullHeaderstyled__BackGround doVYTX"></div>
					<div class="FullHeaderstyled__Container bvPbsQ" style="opacity: 1;">
						<div class="FullHeaderstyled__Title kmKrhz">SHIGO JAGO CHAT</div>
						<div class="FullHeaderstyled__Body fZIprm">
							<div class="FullHeaderstyled__Content hNeMZS">
								<div class="FullHeaderstyled__ResponseDelay cIBCGp">Away<div name="offhours" size="22" class="Iconstyled__Icon gymLwy"></div>
								</div>
								<div class="FullHeaderstyled__Description eHyyog">We will be back in 23 hour(s)</div>
								<div class="FullHeaderstyled__Description itWuHH">See business hours<div name="clock" size="14" class="Iconstyled__Icon hxfEKc"></div>
								</div>
							</div>
							<div class="FullHeaderstyled__Gutter hkNqfb">
								<div size="50" class="Avatarstyled__Avatar kLapJO"></div>
							</div>
						</div>
					</div>
				</div>


				<div class="Loungestyled__Content fiwphP">
					<div class="Cardstyled__Card ebSFPd">
						<div class="Headerstyled__Header bofHaN">
							<h1 class="Headerstyled__Title iQudpT">Ongoing chat</h1>
							<div class="Loungestyled__HeaderNewChatButton dZRmoU">
								<div name="new-chat-black" size="12" class="Iconstyled bNmoP"></div>Start a new chat
							</div>
						</div>
						<div class="UserChatItemstyled__Wrapper dRmqLO">
							<div class="UserChatItemstyled__Gutter dwjdEl">
								<div size="34" class="Avatarstyled__Avatar fVPpRn"></div>
							</div>
							<div class="UserChatItemstyled__Content dSrTQM">
								<div class="UserChatItemstyled__Head jEjoEK">쉬고자고</div>
								<div class="UserChatItemstyled__Body befTZN">
								<form class="chat_input_box"  action="chat" method="POST">
								<input id='nickName' name='nickName'style="width:300px; height:50px">
								<button class="btnchatstart">
									GO
								</button>
							    </form>
								</div>
							</div>
						</div>
					</div>
					<div class="Loungestyled gPinHX">
						<div class="Loungestyled chHnhn">닉네임을 적으세요</div>
					</div>
				
					<div class="Integrationsstyled__Wrapper dGzApz">
						<a class="Integrationsstyled eFZEoU">
							<div name="integration-phone" class="Avatarstyled__Avatar iciXNI"></div>
						</a>
					</div>
				</div>
            </div>

		</div>		
	</body>
</html>